/* NAVBAR  */
#profileNav{
    display: none;
}

#postNav {
    display: none;
}

#logoutNav {
    display: none;
}

.nav-item.display {
    display: block !important;
}

.nav-item.hide {
    display: none !important;
}

/* INDEX */
.card-custom{
    max-width: 700px;
    margin: auto;
}


/* REGISTER */
#frmRegister{
    max-width: 400px;
    margin: auto;
    margin-top: 5%;
}

/* LOGIN */
#frmLogin{
    max-width: 400px;
    margin: auto;
    margin-top: 5%;
}

/* PROFILE */

#uploadImgThumbnail {
    width:100px;
    height:100px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.float {
    float: left;
}