/* NAVBAR  */
#profileNav{
    display: none;
}

#postNav {
    display: none;
}

#logoutNav {
    display: none;
}

.nav-item.display {
    display: block !important;
}

.nav-item.hide {
    display: none !important;
}

/* INDEX */
.card-custom{
    max-width: 700px;
    margin: auto;
}


/* REGISTER */
#frmRegister{
    max-width: 400px;
    margin: auto;
    margin-top: 5%;
}

/* LOGIN */
#frmLogin{
    max-width: 400px;
    margin: auto;
    margin-top: 5%;
}

/* PROFILE */

/* #uploadImgThumbnail {
    width:100px;
    height:100px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
} */

.float {
    float: left;
}

#uploadImgThumbnail{
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin-right:auto;
    margin-left:auto;
  }

  #uploadImgThumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    min-height:100%;
    min-width:100%;
    object-fit: cover;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    
  }