<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container container-404">
        <img id="gif-404" src="https://media.giphy.com/media/3gPG2dzMf6ZFk5nlm9/giphy.gif" alt="nice try">
    </div>
    
    
</body>
</html>

